// It's highly recommended to change the default colors
// to match your app's branding.

@import './../assets/scss/variables';

$primary   : $primary;
$secondary : #26A69A;
$accent    : $accent;

$dark      : #1D1D1D;

$positive  : $primary;
$negative  : $accent;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
